body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  padding:15px;
}

header {
  text-align:center;
  font-size:24px;
  margin-bottom:10px;
}

input, select, button {
  width:100%;
  padding:8px;
  margin:4px 0;
  border-radius:6px;
  border:none;
}

button {
  background:#22c55e;
  font-weight:bold;
}

.card {
  background:#1e293b;
  padding:10px;
  border-radius:10px;
  margin:8px 0;
}

.badge {
  padding:3px 7px;
  border-radius:6px;
  margin-right:4px;
  font-size:12px;
}

/* 🎨 GENRE COLORS */
.Action { background:#ef4444; }
.Romance { background:#ec4899; }
.Comedy { background:#facc15; color:black; }
.Fantasy { background:#8b5cf6; }
.Horror { background:#000; }
.Sci-Fi { background:#06b6d4; }
.Drama { background:#22c55e; color:black; }
